
.expense-item {
  position: relative;
}
.expense-item.income {
  background-image: linear-gradient(to left, #18d018 5px, #fff 5px);
  background-color: #fff;
}
.expense-item.expense {
  background-image: linear-gradient(to left, #f00 5px, #fff 5px);
  background-color: #fff;
}
.expense-item .delBtn {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5.293%205.293a1%201%200%200%201%201.414%200L12%2010.586l5.293-5.293a1%201%200%201%201%201.414%201.414L13.414%2012l5.293%205.293a1%201%200%200%201-1.414%201.414L12%2013.414l-5.293%205.293a1%201%200%200%201-1.414-1.414L10.586%2012%205.293%206.707a1%201%200%200%201%200-1.414%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
  background-color: #f00;
  background-position: center;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  cursor: pointer;
  z-index: -1;
  animation: slideIn 0.3s ease forwards;
}
.expense-item .delBtn:hover {
  background-color: #a50808;
}
.expense-item:hover .delBtn,
.expense-item:focus-visible .delBtn {
  animation: slideOut 0.3s ease forwards;
}

@keyframes slideOut {
  0% {
    transform: translate(0%, -50%);
    z-index: -1;
  }
  99% {
    transform: translate(-100%, -50%);
    z-index: -1;
  }
  100% {
    transform: translate(-100%, -50%);
    z-index: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translate(-100%, -50%);
    z-index: 1;
  }
  1% {
    transform: translate(-100%, -50%);
    z-index: -1;
  }
  100% {
    transform: translate(0%, -50%);
    z-index: -1;
  }
}
